requests~=2.32
aiogram~=3.7.0
SQLAlchemy~=2.0.30
alembic~=1.13.1
pytest~=8.2.2
aiohttp~=3.9.5
asyncpg~=0.29.0
charset_normalizer~=3.3.2
pydantic~=2.7.4
pydantic-settings~=2.3.3
httpx~=0.27.0
mypy~=1.10
redis~=4.6
arq~=0.26
pandas~=2.2
openpyxl~=3.1